/* You can add global styles to this file, and also import other style files */

body {
  background: #2d2b2b;
  margin: 10px 0px;
}

.noPadding {
  padding: 0;
}

canvas {
  background: white;
}

.sidebar {
  padding: 0 5px;
}

.sidebar>button {
  margin: 5px 0
}

.sidebar>div {
  margin: 5px 0
}

#properties,
#task {
  padding: 5px;
  background: #4c4949;
  margin: 0 15px;
  border-radius: 5px;
}

#task {
  margin-top: 10px;
}

#properties>div,
#task>div {
  color: white;
}

#properties input {
  color: black;
}

#properties textarea {
  color: black;
}


/* .colorpicker-with-alpha {
    position: absolute !important;
    left: 0!important;
} */

.colorpicker::after,
.colorpicker::before {
  border: none;
}
